@using Atlanta.Domain.Enums
@using Atlanta.Domain.Entity
@model Atlanta.Domain.Entity.Users
@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="~/css/adminpanel.css" xmlns="http://www.w3.org/1999/html">



@* @using (Html.BeginForm()) *@
@* { *@
@*     @Html.EditorForModel() *@
@*     <input type="submit"/> *@
@* } *@
<form id="form-edit-user" asp-action="Edit" asp-controller="Admin" method="post">
    
    <input id="Name" type="hidden" name="Name" asp-for="Name" class="input1"/>
    <br/>
    <label for="Email">Email: @Model.Email</label>
    <input id="Email" type="text" name="Email" asp-for="Email" class="input1"/>
    <br/>
    @if (@Model.Phone == 0)
    {
        <label for="Phone">Номер телефону: Не вказано</label>
    }
    else
    {
        <label for="Phone">Номер телефону: @Model.Phone</label>
    }
    <input id="Phone" type="number" name="Phone" class="input1"/>
    <label for="IsActive">Акаунт активний: @Model.IsActive.ToString()</label>
    <select id="IsActive" type="text" name="IsActive" asp-for="IsActive" form="form-edit-user" class="input1">
        <option value="@true">True</option>
        <option value="@false">False</option>
    </select>
    <label for="IdRole">Поточна роль: @Model.IdRole.ToString()</label>
    <select id="IdRole" type="text" name="IdRole" asp-for="IdRole" form="form-edit-user" class="input1">
        <option value="@Roles.User">@Roles.User.ToString()</option>
        <option value="@Roles.Admin">@Roles.Admin.ToString()</option>
        <option value="@Roles.RoomMan">@Roles.RoomMan.ToString()</option>
        <option value="@Roles.StaffMan">@Roles.StaffMan.ToString()</option>
    </select>
    <input id="Passwords" type="hidden" name="Passwords" asp-for="Passwords" class="input1"/>
    <input id="Age" type="hidden" name="Age" asp-for="Age" class="input1"/>
    <input id="Phone" type="hidden" name="Phone" asp-for="Phone" class="input1"/>
    <input id="IdUser" type="hidden" name="IdUser" asp-for="IdUser" class="input1"/>
    <input type="submit" class="input-submit"/>
</form>